.navbar{
  display: flex;
  background-color: rgb(50, 49, 49);
}

a{
  text-decoration: none;
  color: whitesmoke;
  margin-top: 8px;
}

.logo{
  margin-top: 8px;
  margin-left: 10px;
  font-weight: bolder;
  color: whitesmoke;
  font-size: 15px;
  margin-left: 8px;
}
.navlist{
  display: flex;
  font-size: 10px;
  list-style: none;
  color: whitesmoke;
  gap: 30px;
  margin-top: 12px;
}

.container {
  margin: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #f5f5f5;
}

.btn {
  padding: 5px 10px;
  cursor: pointer;
}

.btn-info {
  background-color: #5bc0de;
  color: #fff;
  border-radius: 5px;
  border-color: #5bc0de;
  cursor: pointer;
}

.btn-warning {
  background-color: #f0ad4e;
  color: #fff;
  border-radius: 5px;
  border-color: #f0ad4e;
  cursor: pointer;
}

.btn-danger {
  background-color: #d9534f;
  color: #fff;
  border-radius: 5px;
  border-color: #d9534f;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.mx-2 {
  margin: 0 2px;
}
