.navbar{
  display: flex;
  background-color: rgb(50, 49, 49);
}

a{
  text-decoration: none;
  color: whitesmoke
}

.logo{
  margin-top: 8px;
  margin-left: 10px;
  font-weight: bolder;
  color: whitesmoke;
  font-size: 15px;
  margin-left: 8px;
}
.navlist{
  display: flex;
  font-size: 10px;
  list-style: none;
  color: whitesmoke;
  gap: 30px;
  margin-top: 12px;
}