.navbar{
  display: flex;
  background-color: rgb(50, 49, 49);
  margin-bottom: 10px;
}

a{
  text-decoration: none;
  margin-top: 8px;
  color:white;
}

a:active{
  color: blue;
}

.logo{
  margin-left: 10px;
  font-weight: bolder;
  color: whitesmoke;
  font-size: 15px;
}
.navlist{
  display: flex;
  font-size: 10px;
  list-style: none;
  color: whitesmoke;
  gap: 30px;
  margin-top: 12px;
}

.container {
  margin: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: rgb(62, 61, 61);
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #f5f5f5;
}

.btn {
  padding: 5px 10px;
  cursor: pointer;
}

.btn-info {
  background-color: #5bc0de;
  color: #fff;
  border-radius: 5px;
  border-color: #5bc0de;
  cursor: pointer;
}

.btn-warning {
  background-color: #f0ad4e;
  color: #fff;
  border-radius: 5px;
  border-color: #f0ad4e;
  cursor: pointer;
}

.btn-danger {
  background-color: #d9534f;
  color: #fff;
  border-radius: 5px;
  border-color: #d9534f;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.mx-2 {
  margin: 0 2px;
}

.input-group-text{
  color: #ddd;
}

.footer{
  position: absolute;
  color: whitesmoke;

  width: 97.7%;
  background-color: rgb(26, 25, 25);
  padding: 10px;
  text-align: center;
  border-top: 1px solid gray;
}

.formpage {
  display: flex;
  margin-top: -30px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.formbody {
  width: 400px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #534c4c;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-group input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.btn-group{
  display: flex;
  gap: 20px;
}

.form-heading{
  display: flex;
  font-family: Oxygen;
  justify-content: center;
  align-items: center;
}

.welcome-page{
  height: 100%;
  margin: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.welcome-message{
  text-align: center;
  font-size: 2em; 
  color: #333; 
  font-weight: bold;
}

.search-bar-container {
  display: flex;
  align-items: center;
  max-width: 270px;
  margin: 0 auto;
  background-color: #fff; /* Adjust background color as needed */
  border: 1px solid #ccc; /* Adjust border as needed */
  border-radius: 5px; /* Adjust border-radius as needed */
  padding: 5px;
}

.searchicondiv {
  padding: 8px;
  border-right: 1px solid #ccc; 
  color: #555; 
}

.form-control {
  flex: 1;
  border: none;
  padding: 8px;
  font-size: 16px;
  outline: none;
}

.form-control:focus {
  border: 2px solid #007bff; 
}